@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@200&display=swap');


.form {
    width: 100%;
    padding: 2rem;
    
    .input-field{
        display: flex;
        justify-content: center;

        .textInput {
            border-style: none;
            border-radius: 1rem 0rem 0rem 1rem;
            padding: .4rem .8rem;
            width: 10rem;
            background-color: rgb(19, 19, 19);
            color: white;

            &:active {
                border: none;
            }
        }

    
        .btnSubmit {
            border-style: none;
            border-radius: 0rem 1rem 1rem 0rem;
            padding: .4rem;
            transition: all 300ms ease;
    
            &:hover {
                background-color:  rgb(144, 157, 210);
            }
        }
    }

    .form-error{
        color: $form-error;
        margin-top: 2rem;
    }
    
    .v-hidden{
        visibility: hidden;
    }
}